<h1>Listing Terrain Types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @terrain_types.each do |terrain_type| %>
  <tr>
    <td><%=h terrain_type.name %> <br /> <%= image_tag terrain_type.image.url(:full) %></td>
    <td><%= link_to 'Show', terrain_type %></td>
    <td><%= link_to 'Edit', edit_terrain_type_path(terrain_type) %></td>
    <td><%= link_to 'Destroy', terrain_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New terrain_type', new_terrain_type_path %>