<html>
  <head>
    <title><%= yield(:title_tag) || TITLE %></title>
    
    <%= javascript_include_tag "jquery-1.3.2.min.js" %>
    <%= yield(:javascript) %>
    
    <%= stylesheet_link_tag :all %>
    <%= yield(:styles) %>
  </head>
  <body class="container_16">
    <%= yield(:layout) %>
  </body>
</html>